.health-bar {
  padding: 10px; /* Add padding to create space between text and the edges */
  text-align: center; /* Center the content horizontally */
  position: relative;
  color: white; /* Text color */

}

.raider-info {
  text-align: center;
  font-weight: bold; /* Adjust the font weight as needed */
  position: relative;
}

.raider-name {
  margin: 0; /* Remove margin for the raider name */
}

