.raid-group {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  border: 1px solid black;
  width: 100%;
  background-color: red;
}

app-raider {
  box-sizing: border-box;
  border: 1px solid black;
  text-align: center;
  cursor: cell;
  width: 200px;
}
